#top
{
    margin: 40px;
    text-align: left;
}
#verify button
{
    margin-left: 24px;
    padding: 12px;
}
#verify i
{
    font-size: 27px;
}
#body
{
    margin: 40px;
    text-align: left;
}
#newsimg
{
    width: 350px;
    height: 200px;
}
#newstext
{
    font-size: 17px;
}