.box
{
    background-color: black;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card
{
    padding-top: 20px;
}
#form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
    font-size: 22px;
    text-align: left;
}
#form input
{
    font-size: 20px;
    width: 300px;
}