#resetpasswordform
{
    padding: 39px;
    margin: 34px;
    font-size: 22px;
    background-color: white;
}

.fplogin
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 17px;
}