.list-group-item{
    width: 400px;
    font-size: 13px;
}
.list-group-item img
{
    width: 30px;
    height: 30px;
}
#cryptoid
{
    font-size: 22px;
}
#cryptoid1
{
    font-weight: bold;
    font-size: 23px;
}
.list-group-item .fa
{
    color: black;
    font-size: 22px;
}
#coins
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}