#img
{
    width: 50px;
    height: 50px;
}
#simg
{
    width: 100px;
    height: 100px;
}
#details
{
    margin: auto;
    width: 30%;
}
#tid
{
    width: 400px;
    padding: 3px;
    background-color: rgb(198, 233, 248);
    border-radius: 12px;
}
.pointer
{
    cursor:pointer;
}