#toplink
{
    font-size: 20px;
}
#imgfluid
{
    width: 200%;
    margin-bottom:40px ;
}
#main
{
    margin: 100px;
}
#card
{
    width: 400px;
}
#card div
{
    color: gray;
    font-size: 19px;
}
#card div h4
{
    color: black;
}
#card i{
    font-size: 50px;
    text-align: center;
    margin: 10px;
    color: black;
}
#brand
{
    font-size: 35px;
    font-weight: bold;
}
#toplink:hover
{
    color: gray;
}
#getStarted
{
    margin-bottom: 20px;
    font-size: 22px;
}